# ================
# Project Ignored Files
# ================

# Dependencies
/node_modules/
/.pnp
.pnp.js

# Lockfiles (choose one based on your package manager)
package-lock.json  # npm
yarn.lock          # yarn
pnpm-lock.yaml     # pnpm

# Environment variables
.env
.env.local
.env.*.local

# Build files
/build/
/coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
.nvmrc

# Editor/IDE
.editorconfig
.vscode/
.idea/

